<html>
    <head>
        <title>Roman's blog</title>
    </head>
    <body>
        <div>
            <h1><a href = "/">Roman's blog</a></h1>
        </div>

        <div>
            <p>published: 23.04.2020, 18:25</p>
            <h2><a href="/">My first post</a></h2>
            <p>Пашок, хуй тебе на гребешок</p>
        </div>

        <div>
            <p>published: 23.04.2020, 18:27</p>
            <h2><a href="/">My second post</a></h2>
            <p>Назим, хуй отправил в магазин</p>
        </div>
    </body>
</html>